@media (max-width: 1210px) {
    .top-slider {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .info-block, .right-middle {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    li.item-menu.search {
        display: none;
    }
    .left-middle {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .dropdown-block p {
        font-size: 12px;
    }
    .dropdown-block i {
        right: 10px;
        top: 5px;
        width: 20px;
        height: 20px;
    }
    .in-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
        flex: 0 0 28%;
        max-width: 28%;
    }
    .info-left img {
        width: 125px;
        height: 125px;
    }
    .info-left:before {
        width: 140px;
        height: 140px;
    }
    .info-left p {
        font-size: 16px;
    }
    .info-left span {
        font-size: 13px;
    }
    .disp-flex {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 72%;
        flex: 0 0 72%;
        max-width: 72%;
    }
    .dangers-block {
        width: 25%;
    }
    .item-weather {
        width: 34%;
    }
    .item-weather:last-child {
        display: none;
    }
    .dangers-item p {
        padding: 0 25px 0 0;
    }
    .feedback-form {
        width: 51%;
        margin-left: 21px;
    }
    td.today:before {
        width: 34px;
        height: 34px;
        left: -1px;
        top: 3px;
    }
}
@media (max-width: 992px) {
    .top-slider {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .info-block, .social-section {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
    }
    .left-middle {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .right-middle {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 30px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .bottom-flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .left-bottom, div#accordion  {
        width: 40%;
    }
    .dangers-block, .switch {
        width: 55.6%;
        margin-top: 0;
        margin-left: 30px;
    }
    .feedback-form {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    ul.menu-list {
        display: none;
    }
    .xs-menu {
        background: #fff;
        color: #676767;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 10px 0;
        font-weight: 700;
        cursor: pointer;
    }
    .xs-menu i {
        margin-right: 5px;
    }
    li.item-menu {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-top: 1px solid #676767;
    }
    ul.menu-list {
        position: absolute;
        z-index: 9;
        left: 15px;
        right: 15px;
    }
    .in-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .info-left {
        width: 300px;
        margin: auto;
    }
    .info-left p {
        width: 100%;
        text-align: center;
    }
    .disp-flex {
        margin-top: 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .dangers-block, .left-bottom, .switch, div#accordion {
        width: 48%;
        margin-left: 0;
    }
    .bottom-flex {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
@media (max-width: 460px) {
    body {
        padding: 15px 0;
    }
    .info-block, .social-section {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .item-social {
        min-height: 120px;
    }
    .disp-flex, .right-middle {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .w-48, .dangers-block, .left-bottom, .switch, div#accordion {
        width: 100%;
    }
    .xs-top-30 {
        margin-top: 30px;
    }
    .drop-result {
        position: relative;
    }
    td.today:before {
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
    }
}
@media (max-width: 380px) {
    .info-left {
        width: 100%;
    }
    input.control-form {
        font-size: 12px;
    }
}